@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&family=Montserrat:wght@200&display=swap');
label {
    color: white;
    font-family: 'Montserrat';
    margin: 20px;
    font-size: 1.2rem;
}

input {
    width: 50%;
    outline: none;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    animation-duration: 0.35s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    color: white;
    font-size: 16px;
    font-family: 'Lexend';
    margin-bottom: 20px;
}

input:focus {
    animation-name: input;
}

@keyframes input {
    0% {
        border: 0 transparent;
        border-bottom: 1px solid white;
        border-radius: 3px;
    }
    25% {
        border-left: 1px solid transparent;
    }
    50% {
        border-right: 1px solid transparent;
    }
    75% {
        border-top: 1px solid transparent;
    }
    100% {
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-radius: 4px;
    }
}

.Contactme {
    width: 100%;
    height: fit-content;
    font-family: 'Lato';
    margin-top: 7rem;
    margin-bottom: 70px;
}

.Contactme-title {
    margin: 0;
    margin-bottom: 50px;
    background-color: rgba(36, 59, 183, 1);
    font-weight: 900;
    font-size: 40px;
    border-radius: 100px 50px 100px 50px;
    padding: 20px 40px;
    box-shadow: 10px 0px 0px 0px rgba(52, 76, 202, 1), 20px 0px 0px 0px rgba(91, 147, 255, 1);
    color: white;
    text-shadow: 3px 3px 3px black;
    position: relative;
    width: fit-content;
}