@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&family=Montserrat:wght@200&display=swap');
footer {
    width: 100%;
    background-color: rgba(19, 19, 19, 1);
    color: white;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer div {
    width: 100%;
    position: relative;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-family: 'Montserrat';
    font-size: 1.3rem;
    flex-direction: column;
}

footer span {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    color: white;
    margin: 5px 8px;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: white;
    margin: 10px 0px;
}

p {
    margin: 0;
}

@media (max-width: 315px) {
    footer div {
        flex-direction: row;
    }
    footer p {
        visibility: hidden;
        font-size: 1px;
    }
}

@media (max-width: 425px) {
    a {
        font-size: 1rem;
    }
}