@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@200&display=swap');
.jumbotron {
    width: 100%;
    height: fit-content;
    margin-top: 0px;
    position: relative;
    display: flex;
    justify-content: center;
}

.redes {
    height: fit-content;
    width: fit-content;
    margin-left: 30px;
}

.container-redes {
    display: flex;
    gap: 24px;
}

.red-social-whatsapp img {
    width: 45px;
    margin-left: 0.5vw;
}

.red-social-Facebook img {
    width: 45px;
    height: 100%;
}

.red-social-twitter img {
    width: 45px;
}

.red-social-Instagram-Icon img {
    width: 45px;
}

.red-social-whatsapp {
    width: fit-content;
    padding: 4px;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    border: 4px black solid;
    transition: .1s ease-in-out;
}

.red-social-whatsapp:hover {
    box-shadow: 0px 1px 10px 1px rgba(0, 255, 21, 0.452);
}

.red-social-Facebook {
    width: fit-content;
    padding: 4px;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    border: 4px black solid;
    transition: .1s ease-in-out;
}

.red-social-Facebook:hover {
    box-shadow: 0px 1px 10px 1px rgba(0, 4, 255, 0.479);
}

.red-social-twitter {
    width: fit-content;
    padding: 4px;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    border: 4px black solid;
    transition: .1s ease-in-out;
}

.red-social-twitter:hover {
    box-shadow: 0px 1px 10px 1px rgba(0, 255, 191, 0.486);
}

.red-social-Instagram-Icon {
    width: fit-content;
    padding: 4px;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    border: 4px black solid;
    transition: .1s ease-in-out;
}

.red-social-Instagram-Icon:hover {
    box-shadow: 0px 1px 10px 1px rgba(183, 0, 255, 0.507);
}

.center-container {
    display: flex;
    flex-direction: row;
}

.center-content {
    display: flex;
    gap: 24px;
    margin-top: -3vw;
    z-index: 1;
}

.imagen-yo {
    margin-top: 130px;
    width: 360px;
    filter: saturate(150%) contrast(150%) drop-shadow(7px 3px 5px black);
}

.Text {
    margin-top: 9vw;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Lato';
    width: 24vw;
}

.title {
    margin-top: 3.8vw;
    font-size: 40px;
    font-weight: bold;
    margin-left: 1.6vw;
    margin-bottom: 1vw;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    position: relative;
    background-color: midnightblue;
}

.title::before {
    width: 20px;
    content: "";
    height: 100%;
    background-color: midnightblue;
    left: -20px;
    border-radius: 100% 1% 0% 78% / 61% 0% 0% 30%;
    animation-name: beforeTitle;
    position: absolute;
}

.title::after {
    width: 30px;
    content: "";
    height: 100%;
    background-color: midnightblue;
    right: -29px;
    border-radius: 0% 59% 70% 0% / 0% 35% 59% 0%;
    position: absolute;
    margin: 0px;
    top: 0px;
    animation-name: afterTitle;
    animation-iteration-count: infinite;
    box-shadow: 10px 0px 0px 0px rgb(29, 29, 133), 20px 0px 0px 0px rgb(34, 34, 153);
    animation-duration: 5s;
}

.txt {
    font-size: 25px;
    font-weight: bold;
    margin-left: 2vw;
    text-shadow: 3px 3px 10px rgb(0, 0, 0);
    margin-top: 14px;
}

@media (min-width: 1200px) {
    .redes {
        left: 45vw;
        top: 48vh;
    }
}

@media (max-width: 900px) {
    .Text {
        margin-top: 0;
        width: 300px;
    }
    .redes {
        margin-left: 0;
    }
    .center-content {
        flex-direction: column;
    }
}

@media (min-width: 1700px) {
    .redes {
        margin-top: 0px;
        top: 0%;
        left: 62%;
    }
}

@media (max-width: 400px) {
    .center-content {
        margin-left: 0;
    }
}

@keyframes afterTitle {
    0% {
        box-shadow: 10px 0px 0px 0px rgb(29, 29, 133), 20px 0px 0px 0px rgb(34, 34, 153);
    }
    50% {
        box-shadow: 0px 0px 0px 0px rgb(29, 29, 133), 0px 0px 0px 0px rgb(34, 34, 153);
    }
    100% {
        box-shadow: 10px 0px 0px 0px rgb(29, 29, 133), 20px 0px 0px 0px rgb(34, 34, 153);
    }
}