@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&family=Montserrat:wght@200&display=swap');
.myprojects-title {
    background-color: rgba(36, 59, 183, 1);
    font-weight: 900;
    font-size: 40px;
    border-radius: 100px 50px 100px 50px;
    padding: 20px 40px;
    box-shadow: 10px 0px 0px 0px rgba(52, 76, 202, 1), 20px 0px 0px 0px rgba(91, 147, 255, 1);
    margin: 0;
    color: white;
    text-shadow: 3px 3px 3px black;
    position: relative;
    width: fit-content;
    font-family: 'Lato';
}

.title-contm {
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.title-contm h1 {
    position: relative;
    color: white;
    width: fit-content;
    font-size: 34px;
    font-family: 'Montserrat';
    font-weight: 100;
    margin-bottom: 50px;
}

.myprojects {
    margin-top: 100px;
}

.games {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.games div {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: midnightblue;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: .3s;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 20px;
}

.games div img {
    width: 90%;
    height: 100%;
    position: relative;
    bottom: 20%;
    border-radius: 2%;
    transition: .3s;
}

.container h1 {
    position: relative;
    color: white;
    width: fit-content;
    font-size: 34px;
    font-family: 'Montserrat';
    font-weight: 100;
    margin-bottom: 50px;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.games div:hover {
    transform: scale(110%);
    cursor: pointer;
}

.games div p {
    margin: 0;
    color: white;
    font-family: 'Lexend';
}

.games a {
    text-decoration: none;
}

.games div img:hover {
    transform: translateY(10%)
}