@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@200&display=swap');
html {
    background-color: rgba(49, 0, 50, 1);
    scroll-behavior: smooth;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.items-container {
    width: 60vw;
    display: flex;
    justify-content: center;
    float: right;
    z-index: 2;
}

.item {
    font-size: 18px;
    list-style: none;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 0px;
    color: white;
    text-shadow: 2px 2px 10px black;
    transition: .6s all ease;
    position: relative;
    transform: scale(110%);
}

.container-nav {
    background-image: linear-gradient(rgba(255, 0, 0, 0.38), rgba(255, 107, 240, 0.1));
    width: 99%;
    border-radius: 6px;
    margin: 6px 0px;
    margin-left: 6px;
}

.logo-container {
    display: flex;
}

.vinciu-logo {
    width: 250px;
    margin: -50px;
    position: relative;
    left: 20px;
}

h1 {
    margin-bottom: 0px;
    margin: 0;
}

.itm-af {
    width: fit-content;
    height: fit-content;
    transform: scale(100%);
}

.name {
    margin-top: 1.5vw;
    color: white;
    text-shadow: 2px 2px 10px black;
    font-size: 35px;
    font-family: 'montserrat';
    margin-left: 30px;
}

.item:hover {
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
}

@media (max-width: 700px) {
    .name {
        margin-left: -10px;
    }
    .logo-container {
        margin-left: -30px;
    }
}

@media (max-width: 1086px) {
    .name {
        font-size: 24px;
        margin-top: 26px;
    }
}

@media (max-width: 888px) {
    .name {
        margin-top: 13px;
    }
}

@media (max-width: 992px) {
    .items-container {
        margin-top: -13px;
    }
}

@media (max-width: 575px) {
    .items-container {
        display: grid;
        width: fit-content;
        height: fit-content;
        margin: 0px;
        position: relative;
        left: -50px;
        border-left: 1px white solid;
        margin-top: 3px;
    }
    .logo-container {
        margin-right: 60px;
    }
    h1 {
        font-size: 20px;
        margin: 0%;
    }
    .name {
        margin-top: 23px;
    }
}

@media (max-width: 498px) {
    .name {
        margin-top: 13px;
    }
    .items-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item {
        margin: 0px;
        border: 1px white;
        border-radius: 8px;
        border-style: solid;
        padding: 5px;
    }
}

@media (max-width: 495px) {
    .vinciu-logo {
        visibility: hidden;
    }
}

@media (max-width: 418px) {
    nav {
        align-content: center;
    }
    .container-nav {
        align-content: center;
    }
    .name {
        visibility: hidden;
    }
    .items-container {
        border: 0px;
    }
}